<template>
  <div class="hello">
    <h1>{{ msg }}</h1>

    <input v-model="a">
    <input v-model="b" v-on:blur="proveri('b')">
    <button v-on:click="saberi()">Saberi</button>{{c}}

    <table>
      <tr v-for="el in students" :key="el">
        <td>{{el.ime}}</td>
        <td>{{el.prezime}}</td>
      </tr>
    </table>

  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data: function(){
      return {
        a: Number(0),
        b: Number(1),
        c: 0,
        students:Array
    }
  },
  methods:{
    proveri: function(name){
      if(name == 'b'){
        this.c = 100;
      }
    },
    saberi: function(){
      this.c = Number(this.a)+Number(this.b);
      this.msg = "Poruka"+this.c;
      this.$http.get('http://localhost:8081/api/students').then(response=>{
          this.students = response.body;
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
