<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <button v-on:click="pretraga()">Pretraga</button>{{c}}

    <table>
      <tr v-for="el in students" :key="el">
        <td>{{el.ime}}</td>
        <td>{{el.prezime}}</td>
      </tr>
    </table>

  </div>
</template>

<script>
export default {
  name: 'Studenti',
  props: {
    msg: String,
  },
  data: function(){
      return {
        students:Array
    }
  },
  methods:{
    pretraga: function(){
      this.$http.get('http://localhost:8081/api/students').then(response=>{
          this.students = response.body;
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
