{{title}}

<input [(ngModel)]="title">

{{brojac}}
<button (click)="uvecaj()">+</button>

{{gradovi}}

<p *ngFor="let el of gradovi">
  <b *ngIf="el=='Novi Sad'">{{el}}</b>
  <span *ngIf="el!='Novi Sad'">{{el}}</span>
</p>

<!---------FORMA ZA UNOS OSOBE-------------->
Ime:<input [(ngModel)]="osoba.ime"><br>
Prezime:<input [(ngModel)]="osoba.prezime"><br>
Adresa:<input [(ngModel)]="osoba.adresa"><br>
Broj telefona:<input [(ngModel)]="osoba.brojTelefona"><br>
<button (click)="dodajOsobu()">Dodaj</button>

<app-osobe-tabela></app-osobe-tabela>