<app-student-form (createEvent)="create($event)"></app-student-form>

<app-student-form [student]="studentUpdate" (createEvent)="update($event)"></app-student-form>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Indeks</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of studenti">
            <td>{{student.id}}</td>
            <td>{{student.ime}}</td>
            <td>{{student.prezime}}</td>
            <td>{{student.brojIndeksa}}</td>
            <td><button (click)="delete(student.id)">Ukloni</button>
                <button (click)="setUpdate(student)">Izmeni</button>
                <button (click)="prikaziDetalje(student)">Prikaži detalje</button>
                <a routerLink="{{student.id}}">Prikaži detalje</a>
            </td>
        </tr>
    </tbody>
</table>