<h1>{{title}}</h1>

<form (ngSubmit)="dodajStudenta()" ngNativeValidate>
  <div>
    <label>Indeks: <input type="text" [(ngModel)]="noviStudent.indeks" name="indeks" required></label>
  </div>
  <div>
    <label>Ime: <input type="text" [(ngModel)]="noviStudent.ime" name="ime" required></label>
  </div>
  <div>
    <label>Prezime: <input type="text" [(ngModel)]="noviStudent.prezime" name="prezime" required></label>
  </div>
  <div>
    <label>Smer: <input type="text" [(ngModel)]="noviStudent.smer" name="smer" required></label>
  </div>
  <div>
    <label>Prosečna ocena: <input type="number" [(ngModel)]="noviStudent.prosecnaOcena" name="prosecnaOcena" required></label>
  </div>
  <div>
    <input type="submit" value="Dodaj studenta">
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>Redni broj</th>
      <th>Indeks</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Smer</th>
      <th>Prosečna ocena</th>
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studenti; index as rbr">
      <td>{{rbr+1}}.</td>
      <td>{{student.indeks}}</td>
      <td>{{student.ime}}</td>
      <td>{{student.prezime}}</td>
      <td>{{student.smer}}</td>
      <td>{{student.prosecnaOcena}}</td>
      <td><button (click)="ukloniStudenta(rbr)">Ukloni</button></td>
    </tr>
  </tbody>
</table>