<app-dodavanje-smera (dodavanjeSmera)="dodaj($event)"></app-dodavanje-smera>

<table>
    <thead>
        <tr>
            <th>Redni broj</th>
            <th>Šifra smera</th>
            <th>Naziv</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let smer of smerovi; index as rbr">
            <td>{{rbr+1}}.</td>
            <td>{{smer.sifra}}</td>
            <td>{{smer.naziv}}</td>
            <td><button (click)="ukloni(rbr)">Ukloni</button><button (click)="izmeni(rbr, smer)">Izmeni</button></td>
        </tr>
    </tbody>
</table>