<app-products-form *ngIf="loginService.validateRoles(['ROLE_MANAGER'])"></app-products-form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.description}}</td>
            <td>{{p.price}}</td>
            <td>
                <button *ngIf="loginService.validateRoles(['ROLE_CUSTOMER'])">Kupi</button>
                <button *ngIf="loginService.validateRoles(['ROLE_MANAGER'])" (click)="delete(p.id)">Ukloni</button>
                <a *ngIf="loginService.validateRoles(['ROLE_MANAGER'])" routerLink="/products/{{p.id}}">Izmeni</a>
            </td>
        </tr>
    </tbody>
</table>