<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.2"></script>
</head>

<body>
    <div id="app">
        a:<input v-model="a"><br>
        b:<input v-model="b"><br>
        <button v-on:click="saberi()"> Zbir</button>
        Rezultat{{c}}

        <ol>
            <li v-for="el in colors">
                {{el}}
            </li>
        </ol>

    </div>
<script>
    Vue.use(VueResource);
    var app = new Vue({
        el: "#app",
        data: {
            a: 0,
            b: 0,
            c: 0,
            colors:[]
        },
        methods:{
            saberi: function(){
                this.c = parseInt(this.a) + parseInt(this.b);
                this.$http.get('/api/colors').then(response=>{
                    this.colors = response.body;
                    console.log(this.colors);
                });
            }
        }
    })

</script>
</body>
</html>