<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        a:<input v-model="a"><br>
        b:<input v-model="b"><br>
        <button v-on:click="saberi()"> Zbir</button>
        Rezultat = {{c}}
    </div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            a: 0,
            b: 0,
            c: 0
        },
        methods:{
            saberi: function(){
                this.c = Number(this.a) + Number(this.b);
            }
        }
    })
</script>
</body>
</html>