<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">

        <span v-if="seen">
            Ovo se prikazuje samo ako je seen == true
        </span>


    </div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            message: 'Hello '+new Date().toLocaleString(),
            seen: false
        }
    })
</script>
</body>
</html>