<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <todo-item v-bind:todo="poruka"> </todo-item>
        <todo-item :todo="poruka2"> </todo-item>
        <todo-item todo="Ovo je neka poruka koju zelimo da prenesemo"></todo-item>
    </div>
<script>
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li> {{todo}} </li>'
    })
    var app = new Vue({
        el: "#app",
        data: {
            poruka: {id:1, text: 'Poruka 1'},
            poruka2:{id:2, text: 'Poruka 2'}
        },
    })
</script>
</body>
</html>