<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <span title="Proba"> Proba poruka</span>
        <span v-bind:title="message">
            Ako dovedete kursor misa malo duze iznad ovog teksta pojavice se title.
            {{message}}
        </span>
    </div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            message: 'Hello '+new Date().toLocaleString()
        }
    })
</script>
</body>
</html>