<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{message}}
    </div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            message: 'Hello'
        }
    })
</script>
</body>
</html>