{{title}}

<h1>Angular Router</h1>
<nav>
  <a [routerLink]="['/component-a', id]" routerLinkActive="active">A</a><br>
  <a routerLink="/component-b" routerLinkActive="active">B</a><br>
</nav>
<router-outlet></router-outlet>
