<!---------TABELA ZA LISTU OSOBA-------------->
<table>
    <tr *ngFor="let el of osobeService.osobe">
      <td>{{el.ime}}</td>
      <td>{{el.prezime}}</td>
      <td>{{el.adresa}}</td>
    </tr>
  </table>
