<app-dodavanje-korisnika></app-dodavanje-korisnika>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Korisničko ime</th>
      <th>Email</th>
      <th>Lozinka</th>
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let korisnik of korisniciServis.getAll()">
      <td>{{korisnik.id}}</td>
      <td>{{korisnik.korisnickoIme}}</td>
      <td>{{korisnik.email}}</td>
      <td>{{korisnik.lozinka}}</td>
      <td><button (click)="korisniciServis.delete(korisnik.id)">Ukloni</button></td>
    </tr>
  </tbody>
</table>