<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadatak 1</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body id="zadatak1">
    <div v-if="studentZaIzmenu == null">
        <div>
            <label>Indeks: <input type="text" v-model="noviStudent.indeks"></label>
        </div>
        <div>
            <label>Ime: <input type="text" v-model="noviStudent.ime"></label>
        </div>
        <div>
            <label>Prezime: <input type="text" v-model="noviStudent.prezime"></label>
        </div>
        <div>
            <label>Smer: <input type="text" v-model="noviStudent.smer"></label>
        </div>
        <div>
            <label>Prosečna ocena: <input type="number" v-model="noviStudent.prosecnaOcena"></label>
        </div>
        <button v-on:click="dodajStudenta">Dodaj studenta</button>
    </div>

    <div v-if="studentZaIzmenu != null">
        <div>
            <label>Indeks: <input type="text" v-model="studentZaIzmenu.student.indeks"></label>
        </div>
        <div>
            <label>Ime: <input type="text" v-model="studentZaIzmenu.student.ime"></label>
        </div>
        <div>
            <label>Prezime: <input type="text" v-model="studentZaIzmenu.student.prezime"></label>
        </div>
        <div>
            <label>Smer: <input type="text" v-model="studentZaIzmenu.student.smer"></label>
        </div>
        <div>
            <label>Prosečna ocena: <input type="number" v-model="studentZaIzmenu.student.prosecnaOcena"></label>
        </div>
        <button v-on:click="potvrdiIzmenu">Izmeni studenta</button>
        <button v-on:click="otkaziIzmenu">Otkaži izmenu</button>
    </div>
    <hr>
    <div>
        <div>
            <label>Indeks: <input type="text" v-model="pretraga.indeks"></label>
        </div>
        <div>
            <label>Ime: <input type="text" v-model="pretraga.ime"></label>
        </div>
        <div>
            <label>Prezime: <input type="text" v-model="pretraga.prezime"></label>
        </div>
        <div>
            <label>Smer: <input type="text" v-model="pretraga.smer"></label>
        </div>
        <div>
            <label>Prosečna ocena: <input type="number" v-model="pretraga.prosecnaOcenaMin">-<input type="number"
                    v-model="pretraga.prosecnaOcenaMax"></label>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Indeks</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Smer</th>
                <th>Prosečna ocena</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="student in pronadjeniStudenti">
                <td>{{student.indeks}}</td>
                <td>{{student.ime}}</td>
                <td>{{student.prezime}}</td>
                <td>{{student.smer}}</td>
                <td><span v-if="student.prosecnaOcena != null">{{student.prosecnaOcena}}</span><span v-else>-</span>
                </td>
                <td><button v-on:click="izmeniStudenta(student.index, student)">Izmeni</button><button
                        v-on:click="ukloniStudenta(student.index)">Ukloni</button></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h1>Smerovi</h1>
    <script>
        const Zadatak1 = {
            data() {
                return {
                    noviStudent: {},
                    studentZaIzmenu: null,
                    pretraga: { indeks: "", ime: "", prezime: "", smer: "", prosecnaOcenaMin: 5, prosecnaOcenaMax: 10 },
                    studenti: [
                        { indeks: "1234/123456", ime: "Ime studenta", prezime: "Prezime studenta", smer: "Neki smer", prosecnaOcena: 8.2 },
                        { indeks: "1234/123456", ime: "Ime studenta", prezime: "Prezime studenta", smer: "Neki smer" }
                    ],

                }
            },
            computed: {
                pronadjeniStudenti() {
                    pronadjeni = [];
                    for (let i = 0; i < this.studenti.length; i++) {
                        if (this.studenti[i].indeks.includes(this.pretraga.indeks) &&
                            this.studenti[i].ime.includes(this.pretraga.ime) &&
                            this.studenti[i].prezime.includes(this.pretraga.prezime) &&
                            this.studenti[i].smer.includes(this.pretraga.smer) &&
                            ((this.studenti[i].prosecnaOcena >= this.pretraga.prosecnaOcenaMin &&
                                this.studenti[i].prosecnaOcena <= this.pretraga.prosecnaOcenaMax) || this.studenti[i].prosecnaOcena == null)) {
                            pronadjeni.push({ ...this.studenti[i], index: i });
                        }
                    }
                    return pronadjeni;
                }
            },
            methods: {
                dodajStudenta() {
                    this.studenti.push({ ...this.noviStudent });
                },
                ukloniStudenta(index) {
                    this.studenti.splice(index, 1);
                },
                izmeniStudenta(index, student) {
                    this.studentZaIzmenu = {
                        index,
                        student: { ...student }
                    }
                },
                otkaziIzmenu() {
                    this.studentZaIzmenu = null;
                },
                potvrdiIzmenu() {
                    this.studenti[this.studentZaIzmenu.index] = { ...this.studentZaIzmenu.student };
                    this.studentZaIzmenu = null;
                }
            }
        };

        Vue.createApp(Zadatak1).mount("#zadatak1");
    </script>
</body>

</html>