<app-transakcije-dodavanje></app-transakcije-dodavanje>

<hr>
<app-transakcije-izmena *ngIf="transakcijaZaIzmenu!=null" [transakcija]="transakcijaZaIzmenu"></app-transakcije-izmena>
<hr>

<app-transakcije (transakcijaIzmena)="izmeni($event)"></app-transakcije>