<form [formGroup]="forma" (ngSubmit)="submit()" ngNativeValidate>
    <div>
        <label>Title: <input type="text" formControlName="title" required></label>
    </div>
    <div>
        <label>Description: <input type="text" formControlName="description" required></label>
    </div>
    <div>
        <label>Price: <input type="number" formControlName="price" required></label>
    </div>
    <div>
        <input type="submit" value="Create">
    </div>
</form>