<div> 

    Username: <input [(ngModel)]="person.username"><br>
    Password: <input [(ngModel)]="person.password"><br>
    <button (click)="login()">Login</button>
    {{message}}


    Ovde ide mesto za test komponentu: <br>
    <app-test [parentPerson]="person" (_event)="reakcijaNaDogadjaj($event)"></app-test>

</div>