<form [formGroup]="form" (ngSubmit)="create()">
    <div>
        <label>ID: <input type="number" formControlName="id"></label>
    </div>
    <div>
        <label>Ime: <input type="text" formControlName="ime"></label>
    </div>
    <div>
        <label>Prezime: <input type="text" formControlName="prezime"></label>
    </div>
    <div>
        <label>Broj indeksa: <input type="text" formControlName="brojIndeksa"></label>
    </div>
    <div>
        <input type="submit" value="Dodaj">
    </div>
</form>