<form (ngSubmit)="create()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="student.id" required></label>
    </div>
    <div>
        <label>Ime: <input type="text" name="ime" [(ngModel)]="student.ime" required></label>
    </div>
    <div>
        <label>Prezime: <input type="text" name="prezime" [(ngModel)]="student.prezime" required></label>
    </div>
    <div>
        <label>Broj indeksa: <input type="text" name="indeks" [(ngModel)]="student.brojIndeksa" required></label>
    </div>
    <div>
        <input type="submit" value="Dodaj">
    </div>
</form>

<form (ngSubmit)="update()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="studentUpdate.id" required></label>
    </div>
    <div>
        <label>Ime: <input type="text" name="ime" [(ngModel)]="studentUpdate.ime" required></label>
    </div>
    <div>
        <label>Prezime: <input type="text" name="prezime" [(ngModel)]="studentUpdate.prezime" required></label>
    </div>
    <div>
        <label>Broj indeksa: <input type="text" name="indeks" [(ngModel)]="studentUpdate.brojIndeksa" required></label>
    </div>
    <div>
        <input type="submit" value="Izmeni">
    </div>
</form>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Indeks</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of studenti">
            <td>{{student.id}}</td>
            <td>{{student.ime}}</td>
            <td>{{student.prezime}}</td>
            <td>{{student.brojIndeksa}}</td>
            <td><button (click)="delete(student.id)">Ukloni</button>
                <button (click)="setUpdate(student)">Izmeni</button></td>
        </tr>
    </tbody>
</table>